@font-face {
  font-family: YunChuan;
  src: url("../fonts/YunChuanTi.ttf");
}

html, body {
  font-family: 'Source Code Pro', sans-serif;
  font-weight: normal;
  scroll-behavior: smooth;
}

/* Animation for pages change */
.page-enter-active, .page-leave-active {
  transition: all .3s ease;
}

.page-enter, .page-leave-to {
  -webkit-transform: translateY(1.25rem);
  transform: translateY(1.25rem);
  opacity: 0
}

.page-enter-to .page-leave {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1
}

/* Scrollbar style */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #707070;
}
